<img src="../../assets/logo.png" id="logo">
<dx-popover
    target="#logo"
    showEvent="dxhoverstart"
    hideEvent="dxhoverend"
  >
<dx-toolbar
    [items]="toolbarContent"
    id="tool">


</dx-toolbar>
<dx-drawer

    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    [height]="800"
    [closeOnOutsideClick]="true" >
    <div *dxTemplate="let data of 'template'" style="width: 200px"

    [hoverStateEnabled]="true"
    [activeStateEnabled]="true"
    [focusStateEnabled]="true">


    <div *ngIf="this.subuserRoles =='ROLE_SUWRITE'">
    <dx-list [height]="1000" class="list-group">
      <dxi-item class="list-group-item list-group-item-action active" ><a routerLink="map"class="disabled-link"> <mat-icon>room</mat-icon> Map</a></dxi-item>
           <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="realtime" class="disabled-link"><mat-icon>donut_small</mat-icon> Real Time</a></dxi-item>
 <dxi-item class="list-group-item list-group-item-action active" ><a routerLink="rapport" class="disabled-link"><mat-icon>assignment</mat-icon> Reports</a></dxi-item>
           <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="profile" class="disabled-link"><mat-icon>settings</mat-icon> Manage Profile</a></dxi-item>

     </dx-list></div>


     <div *ngIf="this.subuserRoles =='ROLE_SUREAD'">
      <dx-list [height]="1000" class="list-group">
        <dxi-item class="list-group-item list-group-item-action active" ><a routerLink="map"class="disabled-link"> <mat-icon>room</mat-icon> Map</a></dxi-item>
             <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="realtime" class="disabled-link"><mat-icon>donut_small</mat-icon> Real Time</a></dxi-item>
             <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="profile" class="disabled-link"><mat-icon>settings</mat-icon> Manage Profile</a></dxi-item>

       </dx-list></div>

    </div>
    <br>
        <router-outlet></router-outlet>



