<div class="wst">
  <div class="jumbotron">
    <div class="row w-100">
            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-user" aria-hidden="true"></span></div>
                    <div class="text-info text-center mt-3"><h4>Clients</h4></div>
                    <div class="text-info text-center mt-2"><h1>{{nbclient}}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-danger mx-sm-1 p-3">
                    <div class="card border-danger shadow text-danger p-3 my-card"><span class="fa fa-warning" aria-hidden="true"></span></div>
                    <div class="text-danger text-center mt-3"><h4>Constraints</h4></div>
                    <div class="text-danger text-center mt-2"><h1>{{nbconstaint}}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="card border-success shadow text-success p-3 my-card" ><span class="fa fa-map" aria-hidden="true"></span></div>
                    <div class="text-success text-center mt-3"><h4>Spaces</h4></div>
                    <div class="text-success text-center mt-2"><h1>{{nbspace}}</h1></div>
                </div>
            </div>
            <div class="col-md-3">

                <div class="card border-warning mx-sm-1 p-3">
                    <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-area-chart" aria-hidden="true"></span></div>
                    <div class="text-warning text-center mt-3"><h4>Areas</h4></div>
                    <div class="text-warning text-center mt-2"><h1>{{nbarea}}</h1></div>
                </div>
            </div>



            <div class="col-md-3">
              <br>  <br>
              <div class="card border-success mx-sm-1 p-3">
                  <div class="card border-success shadow text-success p-3 my-card" ><span class="fa fa-podcast" aria-hidden="true"></span></div>
                  <div class="text-success text-center mt-3"><h4>Devices</h4></div>
                  <div class="text-success text-center mt-2"><h1>{{nbdevices}}</h1></div>
              </div>
          </div>


         </div>
    </div>
  </div>
