<h4 class="display-4"  style="text-align: center;">Constraints Management</h4>
<hr>
<dx-button id="exportButton"
    icon="exportpdf"
    text="Export to PDF"
    stylingMode="outlined"
    type="danger"
    (onClick)="exportGrid1()">
</dx-button>

<dx-data-grid
    id="grid"
    [dataSource]="dataSource"
    [repaintChangesOnly]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    (onRowInserted)="addConstraint($event)"
    (onRowUpdated)="updateConstraint($event)"
    (onRowRemoved)="removeConstraint($event)"
    (onExporting)="onExporting1($event)"

  keyExpr="idConstraint">

    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing
        mode="popup"
        [useIcons]="true"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true"

        >

    </dxo-editing>
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-search-panel
    [visible]="true"
    ></dxo-search-panel>


    <dxi-column dataField="nameConstraint" >
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="min_value" dataType="number">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column dataField="max_value" dataType="number">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxi-column type="buttons" [width]="110" caption="Actions">

      <dxi-button name="edit"></dxi-button>
      <dxi-button name="delete"></dxi-button>

      </dxi-column>


</dx-data-grid>

<br>

<h4 class="display-4" style="text-align: center;">Assign for each device a constraint</h4>
<hr>

<br>


<div class="dx-fieldset">
  <div class="dx-fieldset-header">Choose the constraint :</div>
  <div class="dx-field">
    <dx-lookup
    [dataSource]="dataSource"
    displayExpr="nameConstraint"
    [(value)]="idConstraint"

    valueExpr="idConstraint">
    <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
</dx-lookup>
  </div>
</div>

<div class="dx-fieldset">
  <div class="dx-fieldset-header">Choose a device :</div>
  <div class="dx-field">
    <dx-lookup
    [dataSource]="devices"
    displayExpr="name"
    [(value)]="reference"
    valueExpr="reference">
    <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>

</dx-lookup>
  </div>
<br>
  <dx-button
icon="check"
type="success"
text="Assign"
(onClick)="update()"
id="button"
>
</dx-button>

</div>
