<body>
    <img src="../../assets/logo.png" id="logo">
<div id="form-container"class="container">

   <div class="form-login">
       <h1>LOGIN FORM</h1>
       <br>
<dx-form
        id="form"
        [formData]="form">

    <dxi-item
        dataField="username"
        [(value)]="username"
        id="userName"
        class="form-control input-sm chat-input"
    >
    </dxi-item>
    <dxi-item
        dataField="password"
         [(value)]="password"
         id="userPassword"
         class="form-control input-sm chat-input"
         [editorOptions]="{ mode: 'password' }"
    >
    </dxi-item>

</dx-form>
<br>
<br>
  &nbsp;&nbsp;
    <dx-button
    icon="check"
    type="success"
    text="login"
    (onClick)="save()"
    id="log"
    >
  </dx-button></div>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br></body>
