




<h4 class="display-4" style="text-align: center;">Assign for each customer their areas</h4>
<hr>

<br>


<div class="dx-fieldset">
  <div class="dx-fieldset-header">Choose the client :</div>
  <div class="dx-field">
    <dx-lookup
    [dataSource]="users"
    displayExpr="subuser.surname"
    [(value)]="cinu"
    valueExpr="cinu">
    <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
</dx-lookup>
  </div>
</div>

<div class="dx-fieldset">
  <div class="dx-fieldset-header">Choose their areas :</div>
  <div class="dx-field">
    <dx-lookup
    [dataSource]="areas"
    displayExpr="name"
    [(value)]="idArea"
    valueExpr="idArea">
    <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
</dx-lookup>
  </div>
</div>
<dx-button
icon="check"
type="success"
text="Assign"
(onClick)="save()"
id="button"
>
</dx-button>

<br><br>


<dx-button id="exportButton"
    icon="exportpdf"
    text="Export to PDF"
    stylingMode="outlined"
    type="danger"
    (onClick)="exportGrid()">
</dx-button>
<dx-data-grid id="gridContainer"
[showBorders]="true"
[dataSource]="listca"
[repaintChangesOnly]="true"
(onExporting)="onExporting($event)"
[rowAlternationEnabled]="true"
keyExpr="ua_key">



<dxo-export [enabled]="true"></dxo-export>
<dxo-paging [pageSize]="5"></dxo-paging>

<dxi-column dataField="ua_key.cinu" caption="CIN" [width]="400">

</dxi-column>



<dxi-column dataField="ua_key.idArea" caption="Area"   [width]="400">


</dxi-column>








</dx-data-grid>
