
@import"../../bootstrap.css";
body{
  background-image:url("../../assets/back2.jpg");
  /* background-color: aquamarine;*/

    background-size:100%;


    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive!important;
  }

h4{
    color: black;
    text-align: center;
    font-style: normal;
}
.container {
  padding-top: 205px;
  padding-bottom: 145px;
    width: 500px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff!important;
    opacity: 1; /* Firefox */
    font-size:18px!important;
}
#logo{
    width:300px;
    float: left;

}
#log{
    background-color: #d4a71d;
    border-color: #d4a71d;
    color: white;
}
.form-login {
background-color: #7a96932f;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    border-color:#a89c9c;
    border-width: 5px;
    color:#073642;
    opacity: 0.9;
    /*box-shadow:20px -10px #1a6072;
     */
}
.form-control input-sm chat-input{
  background:transparent!important;
    background:transparent!important;
    color:white!important;
    font-size: 18px!important;
    width: 100px;
}
.form-control input-sm chat-input{
    border-radius: 120px
}

