<img src="../../assets/logo.png" id="logo">
<dx-popover
    target="#logo"
    showEvent="dxhoverstart"
    hideEvent="dxhoverend">
<dx-toolbar
    [items]="toolbarContent"
    id="tool"

    >

</dx-toolbar>
<dx-drawer

    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    [height]="800"
    [closeOnOutsideClick]="true" >
    <div *dxTemplate="let data of 'template'" style="width: 200px"

    [hoverStateEnabled]="true"
    [activeStateEnabled]="true"
    [focusStateEnabled]="true">


    <dx-list [height]="1000" class="list-group">
        <dxi-item class="list-group-item list-group-item-action active" ><a routerLink="map"class="disabled-link"> <mat-icon>room</mat-icon> Map</a></dxi-item>
             <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="real-time" class="disabled-link"><mat-icon>donut_small</mat-icon> Real Time</a></dxi-item>
             <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="history" class="disabled-link"><mat-icon>horizontal_split</mat-icon>History</a></dxi-item>
             <dxi-item class="list-group-item list-group-item-action active" ><a routerLink="rapport" class="disabled-link"><mat-icon>assignment</mat-icon> Reports</a></dxi-item>
             <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="employspaces" class="disabled-link"><mat-icon>room</mat-icon> Employees's Spaces</a></dxi-item>
             <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="employees" class="disabled-link"><mat-icon>assignment_ind</mat-icon> Employees</a></dxi-item>

       </dx-list>

    </div>
    <br>
        <router-outlet></router-outlet>


