<img src="../../assets/logo.png" id="logo">
<dx-popover
    target="#logo"
    showEvent="dxhoverstart"
    hideEvent="dxhoverend"
  >
<dx-toolbar
    [items]="toolbarContent"
    id="tool">


</dx-toolbar>
<dx-drawer

    [openedStateMode]="selectedOpenMode"
    [position]="selectedPosition"
    [revealMode]="selectedRevealMode"
    template="template"
    [(opened)]="isDrawerOpen"
    [height]="800"
    [closeOnOutsideClick]="true" >
    <div *dxTemplate="let data of 'template'" style="width: 200px"

    [hoverStateEnabled]="true"
    [activeStateEnabled]="true"
    [focusStateEnabled]="true">


    <dx-list [height]="1000" class="list-group">
      <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="devices" class="disabled-link"><mat-icon>devices_other</mat-icon> Devices</a></dxi-item>
      <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="spaces" class="disabled-link"><mat-icon>room</mat-icon> Spaces & Areas</a></dxi-item>
      <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="areas" class="disabled-link"><mat-icon>public</mat-icon> Map</a></dxi-item>
      <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="constraints" class="disabled-link"><mat-icon>info</mat-icon> Constraints</a></dxi-item>
      <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="clientdevices" class="disabled-link"><mat-icon>devices_other</mat-icon> Client's Devices</a></dxi-item>
      <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="clientareas" class="disabled-link"><mat-icon>public</mat-icon> Client's Areas</a></dxi-item>
      <dxi-item class="list-group-item list-group-item-action active"  ><a routerLink="users" class="disabled-link"><mat-icon>assignment_ind</mat-icon> Clients</a></dxi-item>

       </dx-list>

    </div>
    <br>
        <router-outlet></router-outlet>


