@import"../../../bootstrap.css";
::ng-deep #container {
  padding: 10px;
}
::ng-deep #container ul {
  list-style-type: none;
  text-align: center;
}
::ng-deep #container ul li {
  display: inline-block;
  width: 160px;
  margin: 10px;
}
::ng-deep #container ul li img{
  width: 100px;
}
b{color:rgb(18, 50, 146)}
::ng-deep .button-info {
  margin: 10px;
}
::ng-deep .dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}

img{width: 90px;height: 90px;}
.form-control input-sm chat-input{
  background:transparent!important;
  color:white!important;
  font-size: 18px!important;
  width: 200px;
}
.form-control input-sm chat-input{
  border-radius: 10px;
}
::ng-deep #scrollview-demo {
  min-height: 700px;
}
::ng-deep #scrollview {
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 300px;
  padding: 20px;
}
::ng-deep .options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}
::ng-deep .option {
  margin-top: 10px;
}
::ng-deep .option > span {
  position: relative;
  top: 2px;
  margin-right: 10px;
}
::ng-deep #fileuploader-container{
  border: 1px solid #d3d3d3;
  margin: 20px 20px 0 20px;

}
::ng-deep .option > .dx-selectbox {
  display: inline-block;
  vertical-align: middle;
  max-width: 340px;
  width: 100%;
}
