
<div id="scrollview-demo">
  <dx-scroll-view #scrollView
        id="scrollview"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [showScrollbar]="true"
        [bounceEnabled]="false"
        reachBottomText="Updating...">
<h4 class="display-4"  style="text-align: center;">Devices Management</h4>
<hr>

<div id="container">


  <dx-button
  icon="plus"
  class="button-info"
  text="Add"
  type="default" (onClick)="addDev(device)">
  </dx-button>


  <ul>
      <li *ngFor="let device of dataSource">
        <div class="card border-dark " style="max-width: 18rem;">
          <div class="card-header">       <b>REF:</b>
            <span>{{device.reference}}</span></div>
          <div class="card-body text-dark">

            <div class="card-text">


            <p>
              <b>Name :</b>
                <span>{{device.name}}</span>
            </p>
            <hr>
            <p>
              <b>Space :</b> <br>

              <span style="font-weight: bolder;font-size: larger;">{{device.idSpace}} {{device.namex}}</span><br>

            </p>
            <hr>
            <p>
              <b>Constraint :</b> <br>

              <span style="font-weight: bolder;">{{device.idConstraint}}</span><br>

            </p>
            </div>
          </div>
          <div style="display:inline">
       <dx-button
                class="button-info"
                [width]="33"
                icon="search"
                type="default"
                (onClick)="showInfo(device)">
           </dx-button>

            <dx-button
            class="button-info"
            icon="edit"
            type="success"
            [width]="33"
            (onClick)="updateDevice(device)">
        </dx-button>

        <dx-button
        class="button-info"
        icon="trash"
        type="danger"
        [width]="33"
        (onClick)="deleteDevice(device)">
    </dx-button>
        </div>
        </div>
     <!-- <img src={{device.imageurl}} ><br/>-->
</li></ul>

  <dx-popup
      [width]="500"
      [height]="500"
      [showTitle]="true"
      title="Device Informations"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">

          <p>   <b>Reference :</b>
              <span>{{device.reference}}</span>
          </p>
          <hr>
          <p>
            <b>Name :</b>
              <span>{{device.name}}</span>
          </p>
          <hr>
          <p>
            <b>Space :</b> <br>
            <span>{{nameS}}</span>
          </p>
          <hr>
          <p>
            <b>Constraint :</b> :<br>
            <span>{{nameC}}</span>
          </p>

      </div>
  </dx-popup>







  <dx-popup
      [width]="500"
      [height]="400"
      [showTitle]="true"
      title="Adding a device"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupAdd">


        <div class="form-login">

<form>
       <b> Reference:  </b>  <dx-text-box dataField="reference" [(value)]="reference" required="true" >

        <dxi-validation-rule type="required"></dxi-validation-rule>

       </dx-text-box><br>

       <b> Name:  </b>     <dx-text-box [(value)]="name" dataField="name" required="true">
        <dxi-validation-rule type="required"></dxi-validation-rule>
       </dx-text-box><br>

       <b> Space:  </b>  <dx-select-box [dataSource]="spaces"    displayExpr="name"
       [(value)]="idSpace"
       valueExpr="idSpace">
       <dxi-validation-rule type="required"></dxi-validation-rule>
    </dx-select-box><br>





<!--
 <dx-file-uploader
 #fileUploader
 uploadUrl="https://js.devexpress.com/Demos/NetCore/FileUploader/Upload"
 [multiple]="false"
 accept="*"
 [(value)]="img"
 uploadMode="instantly"
></dx-file-uploader>
<div class="content">
  <div *ngIf="img.length > 0">
      <h4>Selected File:</h4>
  </div>
  <div *ngFor="let file of img">
      <div class="selected-item">
         <b></b>
         <b>Name:</b> <span>{{file.name}}</span><br /> <b>Size:</b>
          <span>{{file.size}}</span>bytes<br /> <b>Type:</b>
          <span>{{file.type}}</span>
      </div>
  </div>
</div>-->
</form>

   <br>
   <br>
     &nbsp;&nbsp;
       <dx-button
       icon="plus"
       type="success"
       text="Add"
       (onClick)="add()"

       id="log"
       >
     </dx-button>


  </div>

  </dx-popup>





  <dx-popup
      [width]="500"
      [height]="450"
      [showTitle]="true"
      title="Updating a device"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupUpdate">
      <div *dxTemplate="let data of 'content'">

        <div class="form-login">


          <form >
       <b> Reference:  </b>  <dx-text-box [(value)]="device.reference" disabled="true" ></dx-text-box><br>

       <b> Name:  </b>     <dx-text-box [(value)]="device.name" ></dx-text-box><br>

       <b> Space:  </b>  <dx-select-box [dataSource]="spaces"    displayExpr="name"
       [(value)]="device.idSpace"
       valueExpr="idSpace">
        <dx-validator>
            <dxi-validation-rule type="required" message="Space is required"></dxi-validation-rule>
        </dx-validator>
    </dx-select-box><br>



    <b> Constraint:  </b>  <dx-select-box [dataSource]="cons"    displayExpr="nameConstraint"
    [(value)]="device.idConstraint"
    valueExpr="idConstraint">
     <dx-validator>
         <dxi-validation-rule type="required" message="Constraint is required"></dxi-validation-rule>
     </dx-validator>
 </dx-select-box>
<!--
 <dx-file-uploader
 #fileUploader
 uploadUrl="https://js.devexpress.com/Demos/NetCore/FileUploader/Upload"
 [multiple]="false"
 accept="*"
 [(value)]="img"
 uploadMode="instantly"
></dx-file-uploader>-->


          </form>

   <br>
   <br>
     &nbsp;&nbsp;
       <dx-button
       icon="edit"
       type="success"
       text="Edit"
       (onClick)="save(device)"
       id="log"
       >
     </dx-button></div>

     </div>


  </dx-popup>















  <dx-popup
      [width]="500"
      [height]="250"
      [showTitle]="true"
      title="Deleting a device"
      [dragEnabled]="false"
      [closeOnOutsideClick]="true"
      [(visible)]="popupDelete">
      <div *dxTemplate="let data of 'content'">
      <h5>Are you sure to delete the device with ref:<span style="color: red;">{{device.reference}}</span> ?</h5><br/>
     <br>
      <dx-button
       icon="trash"
       type="danger"
       text="Delete"

       (onClick)="delete(device)"
        id="log"
       >

     </dx-button>
    </div>
  </dx-popup>


</div>
</dx-scroll-view>
